.Home-Header {
  background-color: #08D9D6;
  min-height: 15vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Home-Body {
background-color: #EAEAEA;
min-height: 100vh;
font-size: calc(10px + 2vmin);
color: white;
}
.Header-Title {
margin-left: 20;
}